<nav>
	<ul>
		<li><a href="{{path("xenopedia_admin_user_manager")}}">Gérer les membres</a></li>
		<li><a href="{{path("xenopedia_admin_homepage")}}">Gérer les clichés</a></li>
		<li><a href="{{path("xenopedia_admin_minorite_manager")}}">Gérer les minorités</a></li>
		<li><a href="{{path("xenopedia_admin_categorie_minorite_manager")}}">Gérer les catégories</a></li>
	</ul>
</nav>