<nav>
	<ul>
		<li><a href="{{path("xenopedia_site_homepage")}}">Accueil</a></li>
		<li><a href="{{path("xenopedia_voir_topCliche",{'nbCliche' : 20})}}">Top 20</a></li>
		<li><a href="{{path("xenopedia_voir_minorite")}}">Par minorité</a></li>
		<!--<li><a href=#>Par genre</a></li>-->
		<li><a href="{{path('xenopedia_about')}}">À propos</a></li>
	</ul>
</nav>