<h2>Les citations les plus récentes</h2>
	<p>Vive la saucisson à l'ail</p>
	<p>La VIVA</p>
<section id="publicites">
	<ul>
		<li><a href="#">Gelbooru</a></li>
		<li><a href="#">Le blog de Lamelune (A lire absoulement !)</a></li>
		<li><a href="#">La Manif pour Tous en concert à Vesoul</a></li>
	</ul>
</section>