<form method="post" action="{{path('xenopedia_admin_categorie_minorite_manager_edit',{ 'idCategorieMinorite' : form.vars.value.id})}}" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input type="submit" class="btn btn-primary" />
</form>